
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

label {
	cursor: pointer;
}

.f-row {
	display: flex;
	align-items: center;
}

.f-col {
	display: flex;
	flex-direction: column;
}

.capitalize {
	text-transform: capitalize;
}

body {
	width: 100vw;
	min-height: 100vh;
	font-family: "Poppins";
	position: relative;
		overflow-x: hidden;
		color: #474747;
}

.navMenu {
	border-right: 1px solid #e4e4e4;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	min-width: 14rem;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;

	&& .logo {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-block: 2rem;
		border-bottom: 1px solid #e1e1e1;

		&& #logo {
			width: 9rem;
		}
	}

	&& .navigation {
		padding-inline: 1rem;
		padding-top: 1rem;
		text-transform: capitalize;
		font-weight: 500;
		font-size: 0.8rem;
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-bottom: 2rem;

		&& ul {
			list-style: none;

			&& li .nav-item {
				border-radius: 0.75rem;
				gap: 0.5rem;
				color: #888888;
				padding: 0.65rem 1rem;
				transition: color 0.25s ease, background 0.25s ease;
			}

			&& li .nav-item.active {
				background: #ebf2ff;
				color: #1c499d;
				font-weight: 600;
			}

			&& li .nav-item:not(.active):hover {
				color: black;
				background: #f3f3f3;
			}

			.profile {
				gap: 0.5rem;
				background: #f3f3f3;
				border-radius: 0.75rem;
				padding: 1rem 1.5rem;
				transition: background 0.25s ease;

				&& .p-img {
					background: #d9d9d9;
					width: 2.5rem;
					height: 2.5rem;
					border-radius: 50%;
				}

				.p-img img {
					width: 100%;
					height: 100%;
					object-fit: cover; /* Ensures the image fills the container without distortion */
				}

				&& .sUser {
					&& .name {
						max-width: 8rem;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
					}

					&& .role {
						margin-top: -0.25rem;
						font-size: 0.7rem;
						color: #808080;
					}
				}

				&&:hover {
					background: #eeeeee;
				}
			}

			.log-out {
				border-radius: 0.75rem;
				margin-top: 0.5rem;
				padding: 1rem 1.5rem;
				background: #f3f3f3;
				gap: 0.5rem;
				border: 1px solid #e3e3e3;
				transition: background 0.25s ease;

				&&:hover {
					background: #eeeeee;
				}
			}
		}
	}
}
.row-1{
	width: 100%;
}
.fund-popup {
	color: #1e1e1e;

	&& .head {
		gap: 1rem;
		position: relative;

		&& .close-btn {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			cursor: pointer;
			width: 2rem;
			height: 2rem;
			border-radius: 50%;
			background-color: #eeeeee;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: background-color 0.25s ease, scale 0.25s ease;
		}
		&& .close-btn:hover{
			background-color: #dbdbdb;
		}
		&& .close-btn:active{
			scale: 0.9;
		}
	}
	&& .icon {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 2.5rem;
		width: 2.5rem;
		border-radius: 50%;
		border: 1px solid #929292;
	}
	&& .icon i {
		font-size: 18px;
	}
	&& .head .title {
		font-size: 1.25rem;
		font-weight: 600;
	}
	&& .separator {
		position: absolute;
		left: -1.5rem;
		height: 1px;
		right: -1.5rem;
		bottom: -1.5rem;
		background: var(--border-col);
	}
	&& .body {
		margin: -1.5rem;
		margin-top: 1.5rem;
		padding: 1.5rem;
		background: #f4f4f4;
		gap: 1.5rem;

		&& .field {
			display: flex;
			flex-direction: column;
			gap: 0.4rem;

			&& .title {
				font-weight: 600;
				font-size: 1rem;
				text-transform: capitalize;
				width: fit-content;
				margin-left: 0.5rem;
			}

			input,
			textarea,
			select {
				border-radius: 0.8rem;
				padding: 0.75rem 1rem;
				border: 1px solid var(--border-col);
				outline: 0;
				background: #fafafa;
				width: 100%;
				color: #4b4b4b;
			}
			textarea {
				resize: none;
				min-height: 9rem;
				font-size: 0.875rem;
			}
			textarea::placeholder {
				color: #929292;
			}
			input::placeholder {
				color: #929292;
			}
			select {
				text-transform: capitalize;
				font-weight: 500;
			}
			&& .att-container {
				--pad-y: 1rem;
				padding: var(--pad-y) 0.95rem;
				background: #eeeeee;
				border: 1px solid var(--border-col);
				border-radius: 0.75rem;

				&& .action {
					padding-bottom: var(--pad-y);
					position: relative;

					&& .sep {
						height: 1px;
						background: var(--border-col);
						position: absolute;
						left: -0.95rem;
						right: -0.95rem;
						bottom: 0;
					}
				}
				&& .att-content {
					padding-top: var(--pad-y);

					&& .no-of-files {
						text-transform: capitalize;
						font-size: 0.9rem;
						font-weight: 600;
						color: #545454;
					}

					&& #att-list {
						list-style: none;
						padding-inline: 0.5rem;
						padding-block: 0.25rem;
						margin-top: 0.5rem;
						overflow-y: scroll;
						max-height: 6rem;
						flex-wrap: nowrap;

						&& i{
							color: #777777;
						}

						&& .file-name {
							max-width: 22rem;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							color: #777777;
							font-weight: 600;
						}

						&& li {
							gap: 1rem;
							padding: 0.5rem 3rem 0.5rem 0.5rem;
							position: relative;
							width: fit-content;
							transition: 0.25s ease;
							border-radius: 0.25rem;

							&& .f-size {
								padding: 0.15rem 0.5rem;
								border-radius: 0.25rem;
								background: #dbdbdb;
								font-weight: 600;
								font-size: 0.8rem;
								padding-bottom: 0.1rem;
								display: inline-block;
							}

							&& .delete-item {
								cursor: pointer;
								color: #ff0000;
								font-size: 0.9rem;
								font-weight: 600;
								position: absolute;
								right: 0.5rem;
								top: 50%;
								transform: translateY(-50%);
							}
						}

						&& li:hover {
							background: #cacaca;
						}

						&& li span {
							gap: 0.5rem;
						}

						&& li {
							font-size: 0.9rem;
						}
					}
				}
			}
		}

		&& .multi-fields {
			justify-content: space-between;
			gap: 2rem;
		}
	}

	&& .bottom{
		width: 100%;
		margin-top: 1rem;
		padding-top: 1.5rem;
		font-weight: 600;
		justify-content: end;
		gap: 1rem;

		&& .form-btn {
			cursor: pointer;
			text-transform: capitalize;
			padding: 0.5rem 1rem;
			border-radius: 0.625rem;
			font-size: 0.95rem;
			transform-origin: center;
		}
		&& .form-btn:active{
			scale: 0.95;
		}
		&& .cancel-btn:hover{
			background: #f4f4f4;
		}

		&& .cancel-btn{
			color: #4F4F4F;
			border: 1px solid #DDDDDD;
			transition: background 0.25s, scale 0.25s;
		}

		&& .submit-btn{
			gap: 0.5rem;
			color: white;
			transition: background 0.25s, scale 0.25s;
			background: #1E1E1E;
		}
		&& .submit-btn:hover {
			background: #313131;
		}
	}
}