
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

label {
	cursor: pointer;
}

.f-row {
	display: flex;
	align-items: center;
}

.f-col {
	display: flex;
	flex-direction: column;
}

.capitalize {
	text-transform: capitalize;
}

body {
	width: 100vw;
	min-height: 100vh;
	font-family: "Poppins";
	position: relative;
		overflow-x: hidden;
		color: #474747;
}

.navMenu {
	border-right: 1px solid #e4e4e4;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	min-width: 14rem;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;

	&& .logo {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-block: 2rem;
		border-bottom: 1px solid #e1e1e1;

		&& #logo {
			width: 9rem;
		}
	}

	&& .navigation {
		padding-inline: 1rem;
		padding-top: 1rem;
		text-transform: capitalize;
		font-weight: 500;
		font-size: 0.8rem;
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-bottom: 2rem;

		&& ul {
			list-style: none;

			&& li .nav-item {
				border-radius: 0.75rem;
				gap: 0.5rem;
				color: #888888;
				padding: 0.65rem 1rem;
				transition: color 0.25s ease, background 0.25s ease;
			}

			&& li .nav-item.active {
				background: #ebf2ff;
				color: #1c499d;
				font-weight: 600;
			}

			&& li .nav-item:not(.active):hover {
				color: black;
				background: #f3f3f3;
			}

			.profile {
				gap: 0.5rem;
				background: #f3f3f3;
				border-radius: 0.75rem;
				padding: 1rem 1.5rem;
				transition: background 0.25s ease;

				&& .p-img {
					background: #d9d9d9;
					width: 2.5rem;
					height: 2.5rem;
					border-radius: 50%;
				}

				&& .sUser {
					&& .name {
						max-width: 8rem;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
					}

					&& .role {
						margin-top: -0.25rem;
						font-size: 0.7rem;
						color: #808080;
					}
				}

				&&:hover {
					background: #eeeeee;
				}
			}

			.log-out {
				border-radius: 0.75rem;
				margin-top: 0.5rem;
				padding: 1rem 1.5rem;
				background: #f3f3f3;
				gap: 0.5rem;
				border: 1px solid #e3e3e3;
				transition: background 0.25s ease;

				&&:hover {
					background: #eeeeee;
				}
			}
		}
	}
}
