.profile-container {
    display: flex;
    gap: 2rem;
    flex-direction: row;
}
.b-title {
    font-size: 1.5rem;
}
.description {
    color: #6c757d;
}
.profile-details-edit {
    max-width: 55rem;
    padding: 3rem 2rem !important;
}
.profile-details-edit > .inp-field {
    column-gap: 4rem;
    padding-bottom: 1.5rem;
    align-items: flex-start;
    justify-content: space-between;
}
.profile-details-edit > .inp-field:not(:last-child) {
    border-bottom: 1px solid #e9ecef;
}
input[type="text"],
input[type="password"],
textarea {
    font-size: 1rem !important;
    padding: 0.4rem 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #bfc2c5;
    background: #f8f8f8;
    min-width: 20rem;
}
.de-content {
    gap: 1rem;
}
.de-content textarea {
    height: 15rem;
    resize: none;
}
.de-titles .title {
    font-size: 1.25rem;
}
input[type="date"] {
    cursor: pointer;
    padding: 0.4rem 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #bfc2c5;
    background: #f8f8f8;
}
.de-content .field {
    align-self: flex-end;
    width: fit-content;
    position: relative;
}
.de-content .field button {
    position: absolute;
    right: 0;
    background: #383838;
    border-radius: 0.25rem;
    color: white;
    padding-inline: 1rem;
    height: 100%;
}
.de-content .field input {
    padding-right: 5.5rem;
}
.qualifications {
    gap: 0.5rem;
}
.qualifications span {
    gap: 0.5rem;
    background: #e7e7e7;
    color: #727272;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
}
.qualifications span button {
    padding: 0;
    color: inherit;
    align-items: center;
    border: 0px;
    height: 100%;
    padding-inline: 0.25rem;
    background: transparent;
}
.form-btns {
    margin-top: 2rem;
    gap: 1rem;
    align-self: flex-end;
}
.form-btns button {
    font-weight: 500;
    border-radius: 0.75rem;
    border: 1px solid #6c757d;
}
.save-btn,
.confirm-btn {
    color: white;
    background: #383838;
}
.save-btn:hover,
.confirm-btn:hover {
    background: #4d4d4d;
}
.reset-password {
    flex: 1;
    background: #fefefe;
    height: fit-content;
    width: 100%;
    border-radius: 1rem;
    padding: 1.5rem;
}
.reset-password p {
    color: #6c757d;
}
.password-fields {
    gap: 0.5rem;
    margin-top: 1.5rem;
}
.pswd-field {
    width: 100%;
    position: relative;
}
.pswd-field input {
    width: 100%;
}
.pswd-field i {
    cursor: pointer;
    color: #6c757d;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}
.confirm {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: 1px solid #686868;
}
.confirm-btn {
    font-weight: 500;
}
