.discussions {
    align-items: center;
    gap: 1rem;
}
.navigations {
    position: sticky;
    top: 5rem;
    margin-top: 2rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background: var(--main-color);
    width: fit-content;
    gap: 0rem;
    z-index: 1;
    border: 1px solid rgb(231, 231, 231);
}
.nav-btn button {
    border-radius: 0.5rem;
    background: var(--main-color);
    border: 0;
    font-weight: 500;
    padding-inline: 3rem;
}
button.nav-active {
    background: var(--primary-color);
    color: var(--main-color);
    transition: background 0.25s ease;
}
.nav-body {
    z-index: 0;
    width: 100%;
    background: var(--main-color);
    border-radius: 0.5rem;
    padding: 3rem;
    gap: 1rem;
}
.nav-body .items{
    flex-wrap: wrap;
    gap:  1rem;
}
.nav-body .item {
    padding: 1rem 2rem;
    background: rgb(246, 246, 246);
    border: 1px solid rgb(231, 231, 231);
    width: 100%;
    display: flex;
    align-items: flex-start;
    border-radius: 0.5rem;
    gap: 2rem;
    position: relative;
    transition: background 0.25s ease, border-color 0.25s ease;
    opacity: 0;
    animation: fade-in 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
.item:hover {
    border-color: rgb(200, 214, 255);
    background: rgb(247, 249, 255);
}
.item.live{
    border-left: 5px solid var(--primary-color);
}
.item.live::after{
    content: '\f8dd';
    font-family: FontAwesome;
    position: absolute;
    color: white;
    background: var(--primary-color);
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    left: 0;
    top: 50%;
    padding: 0.25rem;
    transform: translate(-50%, -50%);
}
.item .title{
    font-weight: 600;
    max-width: 38rem;
    position: relative;
    width: fit-content;
}
.item .title::first-letter{
    text-transform: capitalize;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(1rem);
        scale: 1.1;
    }
    to {
        opacity: 1;
        transform: translateY(0);
        scale: 1;
    }
}
.pImgs {
    gap: 0.5rem;
}
.prof-img {
    width: fit-content;
    height: fit-content;
}
.prof-img img {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    object-fit: cover;
}
.time-period {
    color: grey;
    gap: 0.25rem;
}
.time-period i{
    margin-top: 0.1rem;
    margin-right: 0.1rem;
}
.item-content {
    gap: 1rem;
}
.item-yt::before {
    content: "";
}
.item-interactive {
    gap: 1rem;
}
.item-interactive > * {
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: filter 0.25s ease, transform 0.25s ease;
}
.item-interactive > *:hover {
    filter: brightness(0.95);
}
.item-interactive > * > i {
    margin-right: 0.25rem;
}
.item-interactive > *:active{
    transform: scale(0.95);
}
.item-yt {
    background: rgb(255, 210, 210);
}
.item-sp {
    background: rgb(210, 255, 210);
}
.item-live{
    background: rgb(210, 221, 255);
}
.body-top {
    padding: 0 1rem;
    justify-content: space-between;
    align-self: flex-end;
}
.sort-btn {
    gap: 0.5rem;
    font-weight: 600;
    font-size: 0.75rem;
    padding: 0.25rem 1rem;
    background: rgb(24, 24, 24);
    color: white;
    border-radius: 0.25rem;
    cursor: pointer;
    text-align: right;
    transition: background 0.25s ease;
}
.sort-btn:hover {
    background: rgb(66, 66, 66);
}
.items{
    padding: 1rem ;
}
.post-options{
    min-height: 5rem;
    align-items: flex-end;
    justify-content: space-between;
    flex: 1;
}
.post-options .status{
    align-items: start;
    gap: 0.25rem;
    flex: 1;
}
.status span {
    background: rgb(233, 233, 233);
    color: rgb(49, 49, 49);
    border: 1px solid rgb(225, 225, 225);
    font-weight: 600;
    font-size: 0.75rem;
    border-radius: 0.5rem;
    padding: 0.25rem 0.75rem;
}
.post-options .share {
    background: black;
    border: 0px;
    color: white;
    gap: 0.5rem;
    width: fit-content;
    padding: 0.25rem 0.75rem;
    font-size: 0.75rem;
    border-radius: 0.5rem;
}
.overlay-active .live-meeting-popup{
    z-index: 1000;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.205);
}
body.overlay-active {
    transition-delay: 1s;
}
body.overlay-active > *:not(.live-meeting-popup, .notification-msg) {
    filter: blur(0.08rem);
    transition: filter 0.35s ease;
}
body .live-meeting-popup{
    display: none;
    opacity: 0;
    transition: opacity 0.25s ease;
}
.live-meeting-popup .popup-container{
    max-width: 35rem;
    background: var(--main-color);
    border-radius: 1rem;
    transform-origin: center;
    border: 1px solid rgb(217, 217, 217);
    animation: zoomin 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes zoomin {
    from {
        transform: translateY(10rem);
    }
    to{
        transform: translateY(0);
    }
}
.popup-container > div {
    padding: 1.5rem 2.5rem;
}
.popup-container .head .title {
    font-size: 1.5rem;
    font-weight: 600;
}
.popup-container .head{
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(120, 120, 120);
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.cls-btn{
    font-size: 0.75rem !important;
    padding: 0.75rem 1rem !important;
    border-radius: 50%;
    margin-right: -1rem;
}
.popup-container .content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 2rem;
    margin-bottom: 0.5rem;
}
.meeting-title {
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 600;
}
.profs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem auto 2.5rem;
}
.content .prof-img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background: grey;
}
.btns > *{
    text-transform: capitalize;
}
.seats{
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: 500;
}
.content .date {
    font-size: 0.9rem;
    color: #696969;
}
.content .conf {
    margin-bottom: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
}
.content .warning {
    font-size: 0.9rem;
    color: #606060;
}
.popup-container .btns {
    justify-content: end;
    gap: 0.5rem;
    padding-top: 0;
}
.content .rules{
    text-decoration: underline;
    text-transform: capitalize;
    font-weight: 500;
}
.btns button {
    padding: 0.35rem 1rem;
    border-radius: 0.65rem;
    border: 1px solid rgb(178, 178, 178);
    outline: 0;
    gap: 0.5rem;
    font-weight: 500;
    font-size: 0.8rem;
}
button.confirm {
    background: var(--primary-color);
    color: white;
    border-color: var(--primary-color);
}
.gmail-input {
    margin: 10px 0;
}

.gmail-input input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
