.signup-slider{
    justify-content: center;
    text-transform: capitalize;
    font-weight: 600;
    gap: 1rem;
    background: rgb(239, 239, 239);
    width: fit-content;
    margin: auto;
    border-radius: 1.5rem;
    position: relative;
    margin-bottom: 1rem;
}
.signup-slider > div{
    padding: 0.75rem 1.5rem;
    border-radius: 1.5rem;
    cursor: pointer;
    z-index: 1;
    transition: color 0.25s ease-in-out 0.25s;
    user-select: none;
}
.signup-slider > div.active {
    color: white;
}
.slider{
    position: absolute;
    border-radius: 1.5rem;
    height: 100%;
    background: black;
    left: 0;
    width: 6rem;
    transition: all 0.5s ease-in-out;
}
.row-fields{
    gap: 1rem;
}
.row-fields input{
    flex: 1;
    width: 100%;
}
.inp-field{
    padding: 1rem;
    background: #FAFAFA;
    border-radius : 0.5rem;
    border: 1px solid #DCDCDC;
}
.signup-content{
    row-gap: 1rem;
}
select{
    text-transform: capitalize;
    padding: 1rem;
    background: #FAFAFA;
    border-radius : 0.5rem;
    border: 1px solid #DCDCDC;
}
select:not(:valid){
    color: #DCDCDC;
}