
.popup-modal {
    display: none;
}
button {
    cursor: pointer;
    text-transform: capitalize;
    font-family: inherit;
}
body.popup-active  {
    && .popup-modal {
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #0000002f;
        display: flex;
        align-items: center;
        justify-content: center;

        && .popup-content {
            max-height: 40rem;
            position: relative;
            min-width: 30rem;
            min-height: 10rem;
            background: #fff;
            border-radius: 1rem;
            border: 1px solid #e3e3e3;

            && > div {
                padding: 1rem 1.25rem;
            }
            && .close-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                cursor: pointer;
                top: 2rem;
                transform: translateY(-50%);
                padding: 0;
                border-radius: 50%;
                right: 1.5rem;
                font-size: 1.1rem;
                width: 2rem;
                height: 2rem;
                background: #f0f0f0;
                transition: all 0.25s ease-in-out;
                &&:hover {
                    background: #e0e0e0;
                }
            }

            && .top{
                display: flex;
                align-items: center;
                border-bottom: 1px solid #e3e3e3;
                gap: 0.75rem;
                text-transform: capitalize;
                font-weight: 500;
                font-size: 1.2rem;
                justify-content: left;

                && .icon{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 2rem;
                    height: 2rem;
                    font-size: 1rem;
                    background: #ffffff;
                    border-radius: 50%;
                    border: 1px solid rgb(215, 215, 215);
                    color: rgb(74, 74, 74);
                }
            }

            && .content{
                height: fit-content !important;
                border-bottom: 1px solid #e3e3e3;
                background: #f4f4f4;
                font-size: 0.9rem;
                padding: 1rem 1.5rem;
                gap: 1.5rem;

                && .title{
                    font-weight: 500;
                    font-size: 1rem;
                    width: fit-content;
                }

                && input[type='text']{
                    padding: 0.75rem 1rem;
                    border-radius: 0.75rem;
                    font-size: 1rem;
                    border: 1px solid rgb(215, 215, 215);
                    transition: border 0.25s ease-in-out;
                    color: #505050;
                    outline: 0;
                    font-size: 1rem !important;

                    &&:focus{
                        border: 1px solid rgb(175, 175, 175);
                    }
                }
                && textarea{
                    font-size: 1rem !important;
                    resize: none;
                    padding: 0.75rem 1rem;
                    border-radius: 1rem;
                    border: 1px solid rgb(215, 215, 215);
                    transition: border 0.25s ease-in-out;
                    scrollbar-width: none;
                    color: #505050;
                    height: 8rem;

                    &&:focus{
                        border: 1px solid rgb(175, 175, 175);
                    }
                }
            }

            && .footer {
                display: flex;
                padding-block: 0.75rem;
                align-items: center;
                gap: 0.5rem;
                justify-content: flex-end;

                && button{
                    padding: 0.35rem 0.75rem 0.35rem 0.9rem;
                    font-size: 0.85rem;
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    border-radius: 0.5rem;
                    font-weight: 500;
                    outline: 0;
                    border: 1px solid #e3e3e3;
                    transition: background 0.25s ease-in-out, color 0.25s ease-in-out, scale 0.1s ease-in-out;

                    &&:active{
                        scale: 0.95;
                    }

                }
                && .prmry-btn{
                    background: #1e1e1e;
                    color: white;

                    &&:hover{
                        background: #3b3b3b;
                    }
                }
                && .scndry-btn{
                    &&:hover{
                        background: #e8e8e8;
                    }
                }

            }
        }
    }
}
.announcement-list{
    background: white;
    width: 100%;
    padding: 1.25rem 2rem;
    border-radius: 1rem;
    border: 1px solid #cccccc;
    gap: 1.5rem;

    && ul{
        gap: 1.5rem;
    }
    && li{
        width: 100%;
        padding: 1.5rem 2rem;
        list-style: none;
        border-radius: 1rem;
        border: 1px solid #e3e3e3;
        background: #fafafa;
        transition: all 0.25s ease;

        &&:hover{
            border: 1px solid #dce5ec;
            background: #fafdff;
        }
    }
}
.ann-btns-2{
    display: flex;
    justify-content: flex-end;
}
.dropdown {
    position: relative;
    display: inline-block;

    && .dropdown-toggle{
        background: #1E1E1E;
        color: white;
        font-weight: 500;
        gap: 1rem;
        display: flex;
        align-items: center;
        padding: 0.75rem 1.5rem;
        border: 1px solid #ececec;
        border-radius: 1rem;
        cursor: pointer;
        transition: background-color 0.25s ease;

        &&:hover{
            background: #373737;
        }

        && i{
            transition: transform 0.25s ease 0.15s;
        }
    }
}
.dropdown-menu {
    width: max-content;
    position: absolute;
    top: 120%;
    right: 0;
    background-color: white;
    z-index: 1;
    height: 0;
    overflow: hidden !important;
    transition: all 0.25s ease;
    border-radius: 1rem !important;
    border: 1px solid transparent;
    gap: 0.25rem;


    && button {
        background: #ffffff;
        width: 100%;
        border-radius: 0.75rem;
        display: flex;
        align-items: center;
        border: 1px solid transparent;
        gap: 0.5rem;
        padding: 0.75rem 1.25rem;
        transition: all 0.25s ease;
        font-weight: 500;

        &&:hover{
            border: 1px solid #d8d8d8;
            background: #ebebff;
            color: #262668;
        }
    }
}
.dropdown:hover{
    && .dropdown-menu {
        height: 7.8rem;
        padding: 0.5rem;
        box-shadow: 0px 2px 0.5rem rgba(0,0,0,0.1);
        border: 1px solid #dedede;
    }
    && .dropdown-toggle{
        background: #373737;

        && i{
            transform: rotate(180deg);
        }
    }
}

.announcement-item{
    gap: 2rem;
    && .pImage{
        width: 7rem;
        height: 7rem;
        background: #bababa;
        border-radius: 50%;
        overflow: hidden;

        && img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
    && .announcement-header{
        && .author{
            gap: 0.75rem;

            && .postedby{
                && .pol-name{
                    font-weight: 500;
                    font-size: 1.1rem;
                }
            }
            && .ann-date{
                color: grey;
                align-items: center;
                gap: 0.25rem;
                font-size: 0.9rem;
            }
        }
    }

    && .announcement-content{
        margin-top: 1rem;
        && .ann-title{
            font-weight: 500;
            font-size: 1.1rem;
            font-style: italic;
            margin-bottom: 0.25rem;
        }
    }
}
.announcement-actions{
    margin-top: 1rem;

    && button{
        background: #ffffff;
        color: #1b1b1b;
        font-weight: 600;
        font-family: inherit;
        border: 1px solid #e3e3e3;
        border-radius: 1rem;
        padding: 0.75rem 1.25rem;
    }
}
.search{
    position: relative;
    && label{
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        color: #bababa;
    }
    && input{
        width: 20rem;
        padding: 0.75rem 1.25rem 0.75rem 3rem;
        border-radius: 1.5rem;
        border: 1px solid #e3e3e3;
        outline: 0;
        transition: border 0.25s ease;

        &&:focus{
            border: 1px solid #9f9f9f;
        }
    }
}