body.sidebar-deactive .sidebar {
    transform: translateX(-100%);
}

.container .pageTitles{
    align-self: start;
    margin-bottom: 2rem;
}
html{
    font-size: 13px;
}
body {
    font-family: "Poppins", sans-serif;
    background: var(--bg);
    margin: 0;
    padding: 0;
}
.container {
    transition: margin-left 0.3s;
    gap: 0;
}
.container > .row {
    align-items: start;
    gap: 2rem;
    justify-content: space-between;
}
.announcements {
    gap: 1.5rem;
    width: 100%;
}
.announcement-card {
    border-radius: 0.75rem;
    border-left: 0.75rem solid rgba(185, 185, 185, 0.548);
    padding: 1.5rem 2rem ;
    width: 100%;
    transition: outline 0.3s ease, border-left 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.announcement-card:hover {
    outline: 1px solid rgb(185, 185, 185);
    border-left: 0.75rem solid #5490FF;
}
.post-details {
    gap: 1rem;
}
.post-details .img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #ddd;
}
.post-details .name {
    font-weight: 500;
    font-size: 1rem;
}
.announcements .posted-date {
    font-size: 0.7rem;
    color: #777;
    font-weight: 500;
    gap: 0.75rem;
}
.announcement-card .content{
    gap: 0.25rem;
}
.content .post-title {
    font-size: 1.05rem;
    font-weight: 600;
    color: #333;
    margin-top: 0.5rem;
}
.content p {
    font-size: 0.9rem;
    color: #727272;
}
.location {
    margin-top: 0.75rem;
    font-size: 0.8em;
    color: #888;
    text-align: end;
}
/* Politician Card */
.politician-container{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.politician-card {
    min-width: 15rem;
    background-color: #fff;
    border-radius: 0.75rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

/* Image Styling */
.politician-card img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: #ddd; /* Fallback for no image */
}

/* Politician Details */
.politician-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.politician-details h3 {
    font-size: 0.9rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 0.5rem;
}

.politician-details p {
    font-size: 0.8rem;
    color: #555;
}

.add-announcement {
    cursor: pointer !important;
    width: 16rem;
    min-height: 10rem;
    border-radius: 1rem;
    padding: 2rem;
    border: 1px solid #b9d1ff;
    background: #5490FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: white;
    text-transform: capitalize;
    font-weight: 600;
}

.add-announcement i {
    font-size: 3rem;
}


/* Styling for the View My Announcement button */
.view-my-announcement {
    cursor: pointer !important;
    width: 16rem;
    min-height: 10rem;
    border-radius: 1rem;
    padding: 2rem;
    border: 1px solid #b9d1ff;
    background: #5490FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  margin-left: auto ;
    margin-top: -11rem;
    color: white;
    text-transform: capitalize;
    font-weight: 600;
}
.view-my-announcement i {
    font-size: 3rem;
}
.more_announcements {
    cursor: pointer !important;
    width: 16rem;
    min-height: 8rem;
    border-radius: 1rem;
    padding: 1.5rem;
    border: 1px solid #b9d1ff;
    background: #4a8fe5;  /* Set a blue background */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: white;
    text-transform: capitalize;
    font-weight: 600;
    border: none;  /* Remove the default button border */
}

/* Icon inside the button */
.more_announcements i {
    font-size: 2.5rem;  /* Icon size */
}

/* Text inside the button */
.more_announcements span {
    font-size: 1rem;  /* Text size */
}

/* Hover effect for the link */
a:hover .more_announcements {
    transform: scale(1.05);  /* Slightly enlarge the button on hover */
    transition: transform 0.3s ease;  /* Smooth transition effect */
}
/* change this later */
.popup-modal{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #2e2e2e37;
}

body:not(.popup-active) .popup-modal{
    display: none;
}
body.popup-active .popup-modal{
    display: initial;
}
.popup {
    margin-top: 8rem;
    margin-inline: auto;
    cursor: auto;
    padding: 1.25rem 2rem 2.5rem;
    border-radius: 1rem;
    border: 1px solid var(--grey-1);
    background: var(--main-color);
    width: fit-content;
    transition: top 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.popup .title {
    font-size: 1.25rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popup .breakLine {
    height: 1px;
    background: var(--grey-3);
}
.popup div:has( .breakLine){
    position: relative;
}
.breakLine{
    position: absolute;
    left: -2rem;
    right: -2rem;
    bottom: -1rem;
}
#popup-close-btn{
    padding: 0.25rem 0.5rem;
}
.popup .content {
    margin-top: 4.5rem;
    font-size: 0.75rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.popup .content > div:not(.popbtns) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.75rem;
    border: 1px solid var(--grey-4);
    border-radius: 0.5rem;
}
.popup .content .popbtns {
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--grey-3);
    margin-top: 2rem;
}
.popup .content .popbtns div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.25rem 0.75rem;
    border: 1px solid var(--grey-3);
    cursor: pointer;
    transition: scale 0.25s ease, color 0.25s ease, background 0.25s ease, border 0.25s ease;
    user-select: none;
}

.popup .content .popbtns div:active{
    scale: 0.9;
}
.popup .content .popbtns div:hover{
    color: var(--black-1);
    background: var(--grey-1);
}
.popup .content .popbtns .post-btn {
    color: var(--main-color);
    background: #5490FF;
    border: 1px solid #5490FF;
}
.popup .content .popbtns .post-btn:hover{
    background: #5490FF;
    color: var(--main-color);
    border: 1px solid #5490FF;
}
.popup .content > .row{
    align-items: center;
    flex-direction: row;
    gap: 8rem;
}
.popup .content > .col{
    flex-direction: column;
    gap: 1rem;
}
.popup .content .user-profile{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
}
.popup .content .user-profile .prof-img {
    background: var(--grey-3);
    width: 40px;
    height: 40px;
}
.switch-btn a{
    padding: 0.25rem 0.75rem;
    font-size: 0.75rem;
    border-radius: 1rem;
    border: 1px solid black;
    transition: color 0.25s ease, background 0.25s ease;
}
.switch-btn a:hover{
    color: var(--main-color);
    background: var(--black-2);
}
.content .content-pd{
    padding: 1rem 1rem 1.5rem !important;
}
.popup input[type="text"],
.popup textarea{
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid var(--grey-4);
    background: var(--grey-1);
    padding: 0.75rem 0.5rem;
    border-radius: 0.75rem;
}
.popup input[type="text"]:focus{
    border: 1px solid var(--black-1);
    outline: 0;
}
.error {
    outline: 1px solid #ff3333;
}
textarea{
    height: 8rem !important;
    resize: none !important;
}
.edit-btn {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #1e1e1e;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
    align-self: end;
    transition: background 0.3s ease;
}
.edit-btn:hover {
    background-color: #393939;
}
#editPopup .popup{
    min-width: 30rem;
}
#editPopup .popup .content{
    align-items: flex-start;
    gap: 1.5rem;
}
body:not(.popup-active-edit) #editPopup{
    display: none;
}
body.popup-active-edit #editPopup{
    display: initial;
}
.formSection{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.formSection input {
    padding: 1rem !important;
}
#editPopup .post-btn{
    background: #1e1e1e;
    border: 0;
}
#editPopup label{
    font-weight: 600;
}
#editPopup #popup-close-btn,
#deletePopup #popup-close-btn{
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    border: 0px;
}
.delete-btn {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #ff3333;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
    align-self: end;
    transition: background 0.3s ease;
}

.delete-btn:hover {
    background-color: #cc0000;
}
#deletePopup .content{
    margin-top: 3rem;
}

#deletePopup .popbtns{
    margin-top: 1rem;
}
#deletePopup .post-btn{
    background: #1e1e1e;
    border: 0;
}
.ann-btns{
    align-self: flex-end;
}
#editPopup{
    display: none;
}
body.popup-active-delete #editPopup{
    display: initial;
<<<<<<< HEAD
}
.ann-btns-2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.announcement-item{
    color: #1E1E1E;
}
.ann-publisher{
    font-weight: 500;
    font-size: 1.25rem;
}
.announcement-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    padding: 1rem 0.5rem;
}
.announcement-item{
    padding: 1rem;
    list-style: none;
    border-radius: 1rem;
    background: #fff;
    width: 100%;
    height: fit-content;
    border: 1px solid #cfcfcf;
    gap: 0.25rem;
    border-left: 1rem solid #dae4ff;
    transition: 0.25s ease;
    position: relative;

    && .ann-date{
        color: #5e5e5e;
        font-size: 0.8rem;
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }
    && .ann-title{
        margin-top: 1rem;
        font-size: 1.1rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
    }
    && .announcement-content{
        color: #5e5e5e;
        margin-top: -0.5rem;
        font-style: italic;
        width: 100%;
        height: max-content;
    }

    && .announcement-actions{
        position: absolute;
        top: 1rem;
        right: 2rem;
        align-self: flex-end;
    }

    && button {
        text-transform: capitalize;
        background: transparent;
        border: none;
        font-weight: 600;
        padding: 0.25rem 1rem;
        border-radius: 0.5rem;
        font-size: 0.9rem;
        transition: 0.25s ease;
        border: 1px solid white;
    }
    && .button-update{
        color: #4a8fe5;
    }
    && .button-update:hover{
        background: #f4f9ff;
        border: 1px solid #dbeeff;
    }
    && .button-delete{
        color: #dc4242;
    }
    && .button-delete:hover{
        background: #ffeeee;
        border: 1px solid #ffdbdb;
    }
}
.announcement-item:hover{
    background: #fcfcff;
    border: 1px solid #acacac;
    border-left: 1rem solid #4a8fe5;
}
.ann-pub-img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: #a3a3a3;
}
.announcement-info{
    gap: 0.5rem;
}
#searchInput{
    padding: 1rem 1rem 1rem 3rem;
    border-radius: 0.75rem;
    border: 1px solid #DDDDDD;
    width: 100%;
}
.search{
    position: relative;
    width: 100%;

    && .search-icon{
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
        color: #777777;
    }
}
.popbtns{
    && button[type="submit"]{}
}
.cont{
    margin-left: 3.5rem;
=======
>>>>>>> 72354581de48bfd381a545c7f574c30d58d84595
}