body {
    background: #EFEFEF;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
.forg-ps{
    padding: 1rem 1.5rem;
    background: #FFFFFF;
    border-radius: 1rem;
    border: 1px solid #E4E4E4;

    && .content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        color: #1E1E1E;

        && .icon {
            padding: 0.5rem;
            border-radius: 0.5rem;
            border: 1px solid #BBBBBB;
            color: #484848;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        && .body {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 1.5rem;

            && .title-set{
                display: flex;
                flex-direction: column;

                && .title {
                    font-size: 1.4rem;
                    font-weight: 600;
                    line-height: 1.4rem;
                }
                && .subtitle{
                    color: #666666;
                    font-size: 0.9rem;
                }
            }
            
            && .inputs{
                position: relative;
                padding-right: 2rem;
                width: 100%;

                && .inp-field{
                    border: none;
                    border-bottom: 1px solid #CFCFCF;
                    outline: 0;
                    font-family: inherit;
                    transition: 0.25s ease;
                    padding: 0.25rem;
                    width: 90%;
                }
                && .inp-field:focus{
                    border-bottom: 1px solid #3c3c3c;
                }
            }

        }
        && .submit-btn{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            padding: 0.5rem;
            background: #1E1E1E;
            border-radius: 0.75rem;
            color: white;
            font-weight: 500;
            font-family: inherit;
            font-size: 1.1rem;
            margin-top: -0.5rem;
        }
        && .login-btn{
            width: 100%;
            text-decoration: none;
            color: #8A8A8A;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            padding: 0.25rem;
            transition: 0.25s ease;
            font-size: 0.8rem;
            margin-top: -1rem;
        }
        && .login-btn:hover {
            color: #505050;
        }
    }
}