<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">

  <display-name>Archetype Created Web Application</display-name>
  <!-- Servlet for PublishAnnouncementServlet -->
  <servlet>
    <servlet-name>PublishAnnouncementServlet</servlet-name>
    <servlet-class>com.ann.PublishAnnouncementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishAnnouncementServlet</servlet-name>
    <url-pattern>/Announcements/PublishAnnouncementServlet</url-pattern>
  </servlet-mapping>
  <!-- Servlet for GetAllServlet -->
  <servlet>
    <servlet-name>GetAllServlet</servlet-name>
    <servlet-class>com.ann.GetAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllServlet</servlet-name>
    <url-pattern>/Announcements/GetAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetListServlet</servlet-name>
    <servlet-class>com.ann.GetListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetListServlet</servlet-name>
    <url-pattern>/Announcements/GetListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.ann.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/Announcements/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.ann.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/Announcements/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublishCommentServlet</servlet-name>
    <servlet-class>comment.PublishCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishCommentServlet</servlet-name>
    <url-pattern>/PublishCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewCommentServlet</servlet-name>
    <servlet-class>comment.ViewCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCommentServlet</servlet-name>
    <url-pattern>/ViewCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewCommentListServlet</servlet-name>
    <servlet-class>comment.ViewCommentListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCommentListServlet</servlet-name>
    <url-pattern>/ViewCommentListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCommentServlet</servlet-name>
    <servlet-class>comment.UpdateCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCommentServlet</servlet-name>
    <url-pattern>/UpdateCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCommentServlet</servlet-name>
    <servlet-class>comment.DeleteCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCommentServlet</servlet-name>
    <url-pattern>/DeleteCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublishPostServlet</servlet-name>
    <servlet-class>post.PublishPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishPostServlet</servlet-name>
    <url-pattern>/PublishPostServlet</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>GetPostAllServlet</servlet-name>
    <servlet-class>post.GetPostAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPostAllServlet</servlet-name>
    <url-pattern>/GetPostAllServlet</url-pattern>
    <url-pattern>/Profile/GetPostAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdatePostServlet</servlet-name>
    <servlet-class>post.UpdatePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePostServlet</servlet-name>
    <url-pattern>/Profile/UpdatePostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeletePostServlet</servlet-name>
    <servlet-class>post.DeletePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePostServlet</servlet-name>
    <url-pattern>/Profile/DeletePostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPostListServlet</servlet-name>
    <servlet-class>post.GetPostListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPostListServlet</servlet-name>
    <url-pattern>/GetPostListServlet</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>UserPackage.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginNewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserInsertServlet</servlet-name>
    <servlet-class>UserPackage.UserInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInsertServlet</servlet-name>
    <url-pattern>/UserInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>UserPackage.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>UserPackage.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserManagementServlet</servlet-name>
    <servlet-class>UserPackage.UserManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManagementServlet</servlet-name>
    <url-pattern>/admin/userManagement/UserManagementServlet </url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BankTransferManagementServlet</servlet-name>
    <servlet-class>bankreq.BankTransferManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankTransferManagementServlet</servlet-name>
    <url-pattern>/admin/BankTransferManagement/BankTransferManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FundraisingManagementServlet</servlet-name>
    <servlet-class>fundreq.FundraisingManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FundraisingManagementServlet</servlet-name>
    <url-pattern>/admin/Fundraising/FundraisingManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetApprovalFundraisingServlet</servlet-name>
    <servlet-class>fundreq.GetApprovalFundraisingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetApprovalFundraisingServlet</servlet-name>
    <url-pattern>/admin/Fundraising/GetApprovalFundraisingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApproveFundraisingRequestServlet</servlet-name>
    <servlet-class>fundreq.ApproveFundraisingRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveFundraisingRequestServlet</servlet-name>
    <url-pattern>/admin/Fundraising/ApproveFundraisingRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteAdminRequestServlet</servlet-name>
    <servlet-class>fundreq.DeleteAdminRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAdminRequestServlet</servlet-name>
    <url-pattern>/admin/Fundraising/DeleteAdminRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteApproveRequestServlet</servlet-name>
    <servlet-class>fundreq.DeleteApproveRequestServlet</servlet-class>
  </servlet>66
  <servlet-mapping>
    <servlet-name>DeleteApproveRequestServlet</servlet-name>
    <url-pattern>/admin/Fundraising/DeleteApproveRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllFundraisingApprovelServlet </servlet-name>
    <servlet-class>fundreq.GetAllFundraisingApprovelServlet </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllFundraisingApprovelServlet </servlet-name>
    <url-pattern>/Fundraising/GetAllFundraisingApprovelServlet </url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateTransferServlet </servlet-name>
    <servlet-class>bankreq.CreateTransferServlet </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTransferServlet </servlet-name>
    <url-pattern>/Fundraising/CreateTransferServlet </url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserDetailsServlet</servlet-name>
    <servlet-class>UserPackage.UserDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDetailsServlet</servlet-name>
    <url-pattern>/admin/userManagment/UserDetailsServlet </url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>profileServlet</servlet-name>
    <servlet-class>UserPackage.profileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profileServlet</servlet-name>
    <url-pattern>/profileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateRequestServlet</servlet-name>
    <servlet-class>fundreq.CreateRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateRequestServlet</servlet-name>
    <url-pattern>/CreateRequestServlet</url-pattern>
    <url-pattern>/Fundraising/CreateRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllRequestsServlet</servlet-name>
    <servlet-class>fundreq.GetAllRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllRequestsServlet</servlet-name>
    <url-pattern>/GetAllRequestsServlet</url-pattern>
    <url-pattern>/Fundraising/GetAllRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateRequestServlet</servlet-name>
    <servlet-class>fundreq.UpdateRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRequestServlet</servlet-name>
    <url-pattern>/UpdateRequestServlet</url-pattern>
    <url-pattern>/Fundraising/UpdateRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetRequestsServlet</servlet-name>
    <servlet-class>fundreq.GetRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRequestsServlet</servlet-name>
    <url-pattern>/GetRequestsServlet</url-pattern>
    <url-pattern>/admin/Fundraising/GetnewRequestServlet/</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeleteRequestServlet</servlet-name>
    <servlet-class>fundreq.DeleteRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRequestServlet</servlet-name>
    <url-pattern>/DeleteRequestServlet</url-pattern>
    <url-pattern>/Fundraising/DeleteRequestServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CreateMeetingRequestServlet</servlet-name>
    <servlet-class>meetingreq.CreateMeetingRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateMeetingRequestServlet</servlet-name>
    <url-pattern>/DiscussionRoom/CreateMeetingRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllMeetingRequestServlet</servlet-name>
    <servlet-class>meetingreq.GetAllMeetingRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllMeetingRequestServlet</servlet-name>
    <url-pattern>/DiscussionRoom/GetAllMeetingRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateMeetingRequestServlet</servlet-name>
    <servlet-class>meetingreq.UpdateMeetingRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMeetingRequestServlet</servlet-name>
    <url-pattern>/DiscussionRoom/UpdateMeetingRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteMeetingRequestServlet</servlet-name>
    <servlet-class>meetingreq.DeleteMeetingRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMeetingRequestServlet</servlet-name>
    <url-pattern>/DiscussionRoom/DeleteNewMeetingRequestServlet</url-pattern>
  </servlet-mapping>

<!--       survey servlets     -->


  <servlet>
    <servlet-name>CreateSurveyServlet</servlet-name>
    <servlet-class>surveys.CreateSurveyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateSurveyServlet</servlet-name>
    <url-pattern>/Surveys/CreateSurveyServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetUserSurveysServlet</servlet-name>
    <servlet-class>surveys.GetUserSurveysServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserSurveysServlet</servlet-name>
    <url-pattern>/Surveys/GetUserSurveysServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetParlimateSurveysServlet</servlet-name>
    <servlet-class>surveys.GetParlimateSurveysServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetParlimateSurveysServlet</servlet-name>
    <url-pattern>/Surveys/GetParlimateSurveysServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetYourSurveysServlet</servlet-name>
    <servlet-class>surveys.GetYourSurveysServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetYourSurveysServlet</servlet-name>
    <url-pattern>/Surveys/GetYourSurveysServlet</url-pattern>
  </servlet-mapping>

<!--      survey servlets end  -->


  <filter>
    <filter-name>UserSessionFilter</filter-name>
    <filter-class>UserPackage.UserSessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserSessionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>


</web-app>
